body {
  min-height: 100vh;
  margin: 0;
  padding: 0;

  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;

  background-color: #ffffff;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.stop-scrolling {
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}
