@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/roboto-condensed-v19-latin_cyrillic-regular.woff2") format("woff2"),
    url("../fonts/roboto-condensed-v19-latin_cyrillic-regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/roboto-condensed-v19-latin_cyrillic-700.woff2") format("woff2"),
    url("../fonts/roboto-condensed-v19-latin_cyrillic-700.woff") format("woff");
}

@font-face {
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/pt-mono-v8-latin_cyrillic-regular.woff2") format("woff2"),
    url("../fonts/pt-mono-v8-latin_cyrillic-regular.woff") format("woff");
}
