.about-us {
  margin: 0 auto;
  max-width: 1220px;
  padding-left: 205px;
  padding-right: 27px;
  padding-bottom: 110px;

  box-sizing: border-box;

  background-image: url("../img/2005@1x.png");
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .about-us {
    background-image: url("../img/2005-desk@2x.png");
    background-size: 220px;
    background-position: left -5px top 5px;
  }
}

.about-us__title {
  font-family: Roboto Condensed;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: #666666;
  margin: 0;
  margin-bottom: 20px;
}

.about-us__text {
  line-height: 22px;
  color: #666666;
  margin: 0;
  margin-bottom: 20px;
}

.about-us__mobile {
  display: none;
}

.about-us__details {
  margin-top: 20px;
  text-decoration: none;
  border-color: #00b2ff;
  color: #00b2ff;
  min-width: 180px;
  padding-bottom: 10px;

  &:hover {
    background-color: #00b2ff;
    color: #ffffff;
  }

  &:focus {
    opacity: 0.2;
  }
}

@media (max-width: 1023px) {
  .about-us {
    background-size: 251px;
    padding-bottom: 84px;

    padding-left: 210px;

    background-position: left -9px top -1px;
  }

  .about-us__desktop {
    display: none;
  }

  .about-us__mobile {
    display: inline;
  }

  .about-us__title {
    font-size: 32px;
    line-height: 45px;

    margin-bottom: 25px;
  }

  .about-us__text {
    padding-left: 2px;
    line-height: 22px;
  }

  .about-us__details {
    margin-left: 2px;
  }
}

@media (max-width: 767px) {
  .about-us {
    background-image: none;
    padding-left: 14px;
    padding-right: 15px;
    padding-bottom: 65px;
  }

  .about-us__title {
    font-size: 28px;
    line-height: 39px;

    margin-bottom: 20px;
  }

  .about-us__text {
    margin-bottom: 39px;
  }

  .about-us__details  {
    margin: 0;
    margin-top: -10px;
    margin-left: 3px;
  }
}
