.features {
  background-color: #ffffff;
  background-image: url("../img/triangles-features.svg");
  background-repeat: no-repeat;
  background-position: center top -27px;

  padding-top: 112px;
}

.features__list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 74px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  max-width: 1210px;
  padding-left: 20px;
  padding-right: 20px;

  box-sizing: border-box;
}

.features__item {
  width: calc(50% - 15px);
  min-height: 300px;
  padding-top: 40px;
  padding-left: 42px;
  padding-right: 42px;
  padding-bottom: 49px;
  margin-bottom: 30px;

  box-sizing: border-box;
  border: 1px solid #ebebeb;
  border-left: 3px solid #00b2ff;
  background-color: #ffffff;

  cursor: pointer;

  fill: #00b2ff;
}

.features__item:hover {
  background-color: #00b2ff;
  fill: #ffffff;
}

.features__item:hover .features__title,
.features__item:hover .features__text {
  color: #ffffff;
}

.features__title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  color: #00b2ff;

  margin-top: 14px;
  margin-bottom: 15px;
}

.features__text {
  line-height: 22px;
  color: #666666;
  margin: 0;
}

@media (max-width: 1023px) {
  .features {
    background-position: calc(50% + 228px) -86px;

    padding-top: 54px;
  }

  .features__list {
    margin-bottom: 27px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .features__item {
    min-height: 232px;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 20px;
    padding-bottom: 18px;

    border-left: 2px solid #00b2ff;
  }

  .features__item--policy .features__title {
    margin-bottom: 15px;
  }

  .features__title {
    margin-top: 0;
    margin-bottom: 8px;
  }
}

@media (max-width: 767px) {
  .features {
    background-position: calc(50% + 120px) 477px;

    padding-top: 37px;
  }

  .features__list {
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 36px;
  }

  .features__item {
    width: 100%;
    margin-bottom: 20px;
    padding-left: 25px;
    padding-right: 13px;
    padding-top: 24px;
    padding-bottom: 23px;

    min-height: 232px;
  }

  .features__item--supplier {
    padding-right: 12px;
    padding-bottom: 29px;

    & .features__title {
      margin-top: 5px;
      margin-bottom: 7px;
    }

    & svg {
      width: 32px;
      height: 32px;
    }
  }

  .features__item--policy svg {
    width: 30px;
    height: 26px;
  }

  .features__item--person {
    padding-bottom: 22px;

    & .features__title {
      margin-bottom: 14px;
    }

    & svg {
      height: 32px;
      width: 32px;
    }
  }

  .features__title {
    margin-top: 6px;
    margin-bottom: 9px;

    font-size: 20px;
    line-height: 28px;
  }
}
