.form {
  background: #00b2ff;
  background-image: url("../img/airplane@1x.png"), url("../img/triangles-form.svg");
  background-repeat: no-repeat;
  background-position: calc(50% - 330px) 175px, calc(50% + 82px);
}

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .form {
      background-image: url("../img/airplane@2x.png"), url("../img/triangles-form.svg");
      background-size: 511px, 1890px;
    }
  }

.form__container {
  max-width: 1235px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 96px;
  padding-bottom: 114px;
}

.form__form {
  margin-left: auto;
  max-width: 570px;
}

.form__title {
  font-family: Roboto Condensed;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: #ffffff;

  margin: 0;
  margin-bottom: 10px;
}

.form__text {
  margin: 0;
  margin-bottom: 49px;

  line-height: 22px;
  color: #ffffff;
}

.form__top,
.form__bottom {
  display: flex;
  justify-content: space-between;
}

.form__form input[type=text],
.form__form input[type=tel],
.form__form textarea {
  background: rgba(255, 255, 255, 0.1);
  border: none;

  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 16px;
  box-sizing: border-box;

  color: #ffffff;
  outline: none;
  line-height: 22px;

  resize: none;
  overflow: hidden;

  &::placeholder {
    color: #ffffff;
  }

  &:hover {
    border: 1px solid #ffffff;
  }

  &:focus {
    border: 1px solid #ffffff;
  }
}

.form__form input[type=text],
.form__form input[type=tel] {
  width: 270px;
  height: 50px;
  margin-bottom: 40px;
}

.form__form textarea {
  width: 100%;
  margin-bottom: 43px;
}

.form__btn {
  min-width: 270px;
  background-color: transparent;
  color: #ffffff;
  outline: none;

  &:hover {
    background-color: #ffffff;
    color: #00b2ff
  }

  &:focus {
    opacity: 0.7;
  }
}

.form__agr-label {
  width: 270px;
  color: #ffffff;
  padding-left: 32px;
  box-sizing: border-box;
  position: relative;
  opacity: 0.8;
  cursor: pointer;

  &::before {
    content: "";
    width: 16px;
    height: 16px;
    border: 1px solid #ffffff;
    position: absolute;
    top: 5px;
    left: 0;
  }

  &:hover {
    opacity: 1;
  }
}

.form__bottom input[type=checkbox]:checked ~ .form__agr-label::before {
  background-image: url("../img/Vector.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 1023px) {
  .form {
    background-image: none;
  }

  .form__container {
    padding-left: 33px;
    padding-right: 28px;
    padding-top: 80px;
    padding-bottom: 104px;
  }

  .form__form {
    margin: 0 auto;
    max-width: 590px;
  }

  .form__text {
    margin-bottom: 51px;
  }

  .form__form input[type=text],
  .form__form input[type=tel] {
    width: 279px;
    height: 52px;
    margin-bottom: 41px;
  }

  .form__form textarea {
    height: 159px;
    margin-bottom: 45px;
  }

  .form__btn {
    min-width: 280px;
  }
}

@media (max-width: 767px) {
  .form__container {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 33px;
    padding-bottom: 41px;
  }

  .form__top,
  .form__bottom {
    flex-direction: column;
    align-items: center;
  }

  .form__form input[type=text],
  .form__form input[type=tel] {
    width: 100%;
    margin-bottom: 30px;
  }

  .form__form textarea {
    height: 104px;
    margin-bottom: 30px;
  }

  .form__btn {
    width: 100%;
    margin-bottom: 30px;
  }

  .form__agr-label {
    width: 100%;
  }
}
