.modal--closed {
  display: none;
}

.modal__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);

  z-index: 2;
}

.modal-error {
  animation: error 0.3s;
}

.modal__content {
  position: fixed;
  top: 13.6%;
  left: 50%;
  transform: translate(-50%, 0);

  width: 490px;
  box-sizing: border-box;

  background-color: #00b2ff;
  padding-top: 30px;
  padding-left: 39px;
  padding-right: 39px;
  padding-bottom: 36px;
  z-index: 3;
  color: #ffffff;
}

.modal__close-btn {
  position: absolute;
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  padding: 0;
  right: 18px;
  top: 17px;
  cursor: pointer;
  outline: none;

  &::before {
    content: "";
    position: absolute;
    width: 23px;
    height: 1px;
    background-color: #ffffff;
    border-radius: 5px;
    transform: rotate(45deg);
    left: 0;
  }

  &::after {
    content: "";
    position: absolute;
    width: 23px;
    height: 1px;
    background-color: #ffffff;
    border-radius: 5px;
    transform: rotate(-45deg);
    left: 0;
  }

  &:hover {
    opacity: 0.7;
  }
}

.modal__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  margin: 0;
}

.modal__title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 28px;
  line-height: 39px;

  margin: 0;
  margin-bottom: 13px;
}

.modal__text {
  margin: 0;
  margin-bottom: 30px;
  padding-right: 10px;
  line-height: 22px;
}

.modal__fieldset input[type="checkbox"] {
  bottom: 50px;
}

.modal__fieldset input[type="text"],
.modal__fieldset input[type="tel"],
.modal__fieldset textarea {
  background: rgba(255, 255, 255, 0.1);
  border: none;

	-webkit-appearance: none;

  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 25px;
  box-sizing: border-box;

  color: #ffffff;
  outline: none;
  line-height: 22px;

  resize: none;
  overflow: hidden;

  &::placeholder {
    color: #ffffff;
  }

  &:hover {
    border: 1px solid #ffffff;
  }
}

.modal__fieldset input[type="text"],
.modal__fieldset input[type="tel"] {
  width: 100%;
  height: 52px;
  margin-bottom: 30px;
}

.modal__fieldset textarea {
  width: 100%;
  margin-bottom: 30px;
  height: 104px;
}

.modal__btn {
  background-color: transparent;
  color: #ffffff;
  outline: none;
  margin-bottom: 30px;
  height: 46px;

  &:hover {
    background-color: #ffffff;
    color: #00b2ff;
  }

  &:focus {
    opacity: 0.7;
  }
}

.modal__agr-label {
  order: 1;
  color: #ffffff;
  padding-left: 48px;
  padding-right: 5px;
  margin-top: 5px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;

  opacity: 0.8;
  line-height: 16px;
  font-size: 14px;

  &::before {
    content: "";
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    border: 1px solid #ffffff;
    position: absolute;
    top: 0;
    left: 0;
  }

  &:hover {
    opacity: 1;
  }
}


.modal__fieldset input[type="checkbox"]:focus ~ .modal__agr-label {
  opacity: 1;
}

.modal__fieldset input[type="checkbox"]:checked ~ .modal__agr-label::before {
  background-image: url("../img/Vector.svg");
  background-repeat: no-repeat;
  background-position: center;
}
