.navigation {
  margin: 0 auto;

  padding-top: 31px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1460px;
  padding-left: 25px;
  padding-right: 25px;

  box-sizing: border-box;
}

.navigation__logo {
  margin-right: auto;
}

.navigation__link {
  display: flex;

  text-decoration: none;
  color: #ffffff;
  margin-right: 50px;
  min-width: 170px;
  line-height: 18px;

  &:hover {
    opacity: 0.5;
  }

  &:focus {
    opacity: 0.2;
  }
}

.navigation__text {
  padding-left: 16px;
}

.navigation__btn {
  display: block;
  text-decoration: none;

  color: #ffffff;

  min-width: 180px;
  padding-left: 10px;
  padding-right: 10px;

  &:hover {
    background-color: #ffffff;
    color: #1b2931;
  }

  &:focus {
    opacity: 0.2;
  }
}

@media (max-width: 1023px) {
  .navigation {
    width: 100%;
    padding-top: 18px;
    padding-bottom: 21px;
    padding-left: 25px;
    padding-right: 25px;

    box-sizing: border-box;
  }

  .navigation__logo {
    width: 202px;
    height: 52px;
  }

  .navigation__link {
    min-width: 24px;
    margin-right: 0;
    margin-left: 33px;
  }

  .navigation__envelope-img {
    width: 25px;
    height: 18px;
  }

  .navigation__phone-img {
    width: 24px;
    height: 24px;
  }

  .navigation__text {
    display: none;
  }

  .navigation__btn {
    display: none;
  }
}

@media (max-width: 767px) {
  .navigation {
    padding-top: 15px;
    padding-right: 14px;
    padding-bottom: 12px;
    padding-left: 17px;
  }

  .navigation__logo {
    width: 38px;
    height: 38px;
  }

  .navigation__link {
    margin-left: 25px;
  }
}
