.navigation {
  margin: 0 auto;

  padding-top: 51px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1460px;
  padding-left: 25px;
  padding-right: 25px;
}

.navigation__logo {
  margin-right: auto;
}

.navigation__list {
  display: flex;
  justify-content: space-between;

  margin: 0;
  margin-right: 2.7%;
  padding: 0;
  min-width: 360px;

  list-style: none;
}

.navigation__item--email {
  width: 30.6%;
  min-width: 125px;
}
.navigation__item--tel {
  width: 49.4%;
  min-width: 210px;
}

.navigation__link {
  text-decoration: none;
  color: #ffffff;
  display: block;
  position: relative;
  text-align: right;
}

.navigation__btn {
  display: block;
  text-decoration: none;

  color: #ffffff;

  width: 12.75%;
  min-width: 180px;
  padding-left: 10px;
  padding-right: 10px;

  &:hover {
    background-color: #ffffff;
    color: #666666;
  }

  &:focus {
    opacity: 0.2;
  }
}

@media (max-width: 1023px) {
  .navigation {
    width: 100%;
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;

    box-sizing: border-box;
  }

  .navigation__list {
    width: 11%;
    min-width: auto;
    margin: 0;
    align-items: center;
  }

  .navigation__item--tel,
  .navigation__item--email {
    min-width: auto;
    width: auto;
  }

  .navigation__envelope-img {
    width: 25px;
    height: 18px;
  }

  .navigation__phone-img {
    width: 24px;
    height: 24px;
  }

  .navigation__text {
    display: none;
  }

  .navigation__btn {
    display: none;
  }
}

@media (max-width: 767px) {
  .navigation {
    padding-top: 17px;
    padding-left: 17px;
    padding-right: 15px;
  }

  .navigation__list {
    width: 26.25%;
  }
}
