.page-footer {
  background: #fafafa;
}

.page-footer__inner {
  max-width: 1460px;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: no-wrap;

  display: flex;
  align-items: flex-start;
}

.page-footer__head-wrapper {
  margin-right: 130px;
  min-width: 270px;
  padding: 65px 0 57px 21px;
}

.page-footer__socials {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  margin-top: 53px;

  list-style: none;
}

.page-footer__social {
  margin-right: 16px;
}

.page-footer__link {
  display: block;
}

.page-footer__sections {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-right: auto;
  max-width: 525px;
  padding: 65px 0 57px 21px;
}

.page-footer__sections-title {
  width: 100%;
  padding-left: 20px;
}

.page-footer__sections-title,
.page-footer__contacts-title {
  font-family: Roboto Condensed;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #1b2d37;

  margin: 0;
  margin-bottom: 29px;
}

.page-footer__sections-list,
.page-footer__contacts-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-footer__sections-list {
  margin-right: auto;
  padding-left: 20px;
}

.page-footer__sections-item,
.page-footer__contacts-item {
  font-size: 15px;
  line-height: 25px;
  color: #1b2d37;
  opacity: 0.5;
}

.page-footer__contacts {
  margin-left: auto;
  padding: 65px 0 57px 21px;
}

.page-footer__contacts-list {
  padding-right: 20px;
}

.page-footer__contacts-link {
  text-decoration: none;
  color: #1b2d37;
}

.page-footer__footer-wrapper {
  max-width: 1460px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.page-footer__footer {
  display: flex;
  justify-content: space-between;

  width: 100%;
  padding: 14px 25px 10px 20px;
  position: relative;
  box-sizing: border-box;

  &::before {
    content: "";
    width: 100%;
    position: absolute;
    width: 100vw;
    height: 1px;
    background-color: #1b2b37;
    opacity: 0.2;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
  }
}

.page-footer__text {
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #1b2d37;
  opacity: 0.5;
}

.page-footer__text--copyright {
  margin-right: 79px;
}

.page-footer__text--company {
  margin-right: 140px;
}

.page-footer__text--developer {
  margin-left: auto;
}
