.page-footer {
  background: #fafafa;
  overflow: hidden;
}

.page-footer__inner {
  max-width: 1460px;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: no-wrap;

  display: flex;
  align-items: flex-start;
}

.page-footer__head-wrapper {
  margin-right: 115px;
  min-width: 270px;
  padding: 42px 0 57px 21px;
}

.page-footer__logo {
  margin-top: 22px;
  display: block;
}

.page-footer__socials {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  margin-top: 47px;

  list-style: none;
}

.page-footer__social {
  margin-right: 16px;
}

.page-footer__link {
  display: block;
  fill: #cdcdcd;

  &:hover {
    fill: #00b2ff;
  }

  &:focus {
    opacity: 0.5;
  }
}

.page-footer__text-tablet {
  display: none;
}

.page-footer__sections {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-right: auto;
  max-width: 525px;
  padding: 65px 0 57px 21px;
  box-sizing: border-box;
}

.closed {
  display: none;
}

.page-footer__title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #1b2d37;

  width: 100%;
  padding-left: 20px;
  margin: 0;
  margin-bottom: 25px;
}

.page-footer__sections-list,
.page-footer__contacts-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-footer__sections-list {
  margin-right: auto;
  padding-left: 17px;
}

.page-footer__sections-list:last-child {
  letter-spacing: 0.03em;
}

.page-footer__sections-item,
.page-footer__contacts-item {
  font-size: 15px;
  line-height: 25px;
  color: #8d969b;

  &:hover a {
    color: #00b2ff;
  }

  &:focus a {
    color: #00b2ff;
  }
}

.page-footer__sections-item a {
  text-decoration: none;
  color: #8d969b;
}

.page-footer__contacts {
  padding: 65px 0 55px 21px;
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
}

.page-footer__contacts-list {
  padding-right: 25px;
  padding-left: 20px;
}

.page-footer__contacts-link {
  text-decoration: none;
  color: #8d969b;
}

.page-footer__footer-wrapper {
  max-width: 1460px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.page-footer__footer {
  display: flex;
  justify-content: space-between;

  width: 100%;
  padding: 15px 25px 24px 20px;
  position: relative;
  box-sizing: border-box;

  &::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 1px;
    background-color: #1b2b37;
    opacity: 0.2;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.page-footer__text {
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #1b2d37;
  opacity: 0.5;

  & a {
    text-decoration: none;
    color: #1b2d37;
  }

  &:hover a {
    color: #00b2ff;
  }
}

.page-footer__text--copyright {
  margin-right: 79px;
}

.page-footer__text--company {
  margin-right: 140px;
}

.page-footer__text--developer {
  margin-left: auto;
}

@media (max-width: 1023px) {
  .page-footer__inner {
    flex-wrap: wrap;
  }

  .page-footer__head-wrapper {
    margin: 0 auto;
    padding: 19px 24px 18px 25px;
    width: 100%;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #cdcdcd;
  }

  .page-footer__logo {
    margin-top: 0;
  }

  .page-footer__socials {
    margin-top: 11px;
    margin-right: -16px;
  }

  .page-footer__text-tablet {
    display: block;

    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #1b2d37;
    opacity: 0.5;

    margin: 0;
    margin-top: 17px;
    margin-left: 14px;
  }

  .page-footer__sections {
    margin-right: 0;
    max-width: 40%;
    padding: 38px 0 36px 8px;
  }

  .page-footer__contacts {
    margin-left: auto;
    padding: 38px 37px 33px 0;
  }

  .page-footer__contacts-list {
    padding-right: 0;
  }

  .page-footer__footer {
    padding-top: 21px;
    padding-left: 27px;
  }

  .page-footer__text--copyright {
    display: none;
  }

  .page-footer__text--company {
    display: none;
  }

  .page-footer__text--developer {
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .page-footer__inner {
    flex-direction: column;
  }

  .page-footer__head-wrapper {
    padding: 46px 43px 46px 44px;
    width: 100%;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .page-footer__text-tablet {
    margin-top: 20px;
    margin-left: 0;
  }

  .page-footer__socials {
    margin-top: 32px;
  }

  .closed {
    display: block;
  }

  .page-footer__sections,
  .page-footer__contacts {
    position: relative;
    max-width: 100%;
    width: 100%;
    padding-top: 29px;
    padding-left: 15px;
    padding-bottom: 0;
    box-sizing: border-box;
    margin: 0;
  }

  .page-footer__sections::after {
    content: "";
    position: absolute;
    width: 100vw;
    height: 1px;
    background-color: #1b2b37;
    opacity: 0.2;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .page-footer__title {
    padding: 0;
    margin: 0;
    padding-bottom: 27px;
  }

  .page-footer__title::after,
  .page-footer__title::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 1px;
    background: #1b2b37;
    opacity: 0.5;
    right: 17px;
    top: 36px;
    display: block;
  }

  .page-footer__title::after {
    transform: rotate(90deg);
  }

  .page-footer input:checked ~ .page-footer__title::after {
    display: none;
  }

  .page-footer__sections-list,
  .page-footer__contacts-list {
    display: none;
  }

  .page-footer__sections {
    flex-direction: column;
  }

  .page-footer input[id="section"]:checked ~ .page-footer__sections-list,
  .page-footer input[id="contacts"]:checked ~ .page-footer__contacts-list {
    display: block;
    padding: 0;
    margin-top: 5px;
  }

  .page-footer__sections-list:last-child,
  .page-footer__contacts-list {
    margin-bottom: 26px;
  }

  .page-footer__footer {
    flex-direction: column;
    align-items: center;
    padding-top: 29px;
  }

  .page-footer__text {
    margin: 0;
    margin-top: 21px;
  }

  .page-footer__text--policy {
    margin: 0;
  }
}
